/** Main body **/
body {
  color: #333;
  display: flex;
  font-family: "Clear Sans";
  justify-content: center;
}
a {
  color: #000;
}
@font-face {
  font-family: "Clear Sans";
  src: url("font/ClearSans-Thin.woff") format('woff');
}
.inline-icon {
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
  width: 14px;
}
.container {
  background-color: #fff0ff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  max-width: 800px;
  padding: 4px 16px 16px 16px;
}
.container .title {
  color: #666;
  cursor: pointer;
  font-size: 24pt;
  margin-bottom: 16px;
  min-height: 32px;
  text-align: center;
}
.container .title:hover {
  color: #333;
}
.container .section {
  color: #666;
  font-size: 20pt;
}
.container .content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
.container .content .photo {
  border: 8px solid #fff;
  border-radius: 16px;
  margin-left: 10px;
  width: 270px;
}
.container .content .photo-caption {
  text-align: center;
  font-size: 10pt;
}
.container .content .text-container {
  max-width: 500px;
}
p + ul {
  margin-top: -1em;
}
hr {
  border: none;
  background: gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#efefef), to(#ffffff));
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#efefef), to(#ffffff));
  height: 1px;
}
