---
layout: base
---

<div class="post-content">
  <div class="post-title">{{ page.title }}</div>
  <div class="post-date">{{ page.date | date: "%B %Y" }}</div>
  <div class="post-divider"></div>

  <div class="section">
      {{ content }}
  </div>

  <div class="post-divider"></div>
  <div class="end-matter">
    <div class="next-link">
      {% if page.next.url %}
        <a href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
      {% endif %}
    </div>
    <div class="home-link"><a href="/">Andrew Gunsch</a></div>
    <div class="prev-link">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
      {% endif %}
    </div>
  </div>

</div>
